<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href=../static/styles/style.css>
  <script src="https://kit.fontawesome.com/f4d2f86d5b.js" crossorigin="anonymous"></script>
</head>

  
  <header>
    <div class="header-container">
      <h1>ThermoBella</h1>
        <div class="social-icons">
          <div class="left-icons">
            <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram" style="color: white;"></i></a>
            <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook" style="color: white;"></i></a>
          </div>
          <div class="right-icons">
            <a href="tel:+44 7391 585516"><i class="fas fa-phone" style="color: white;"></i></a>
            <span class="phone-text">07391 585516</span>
            <a href="mailto:info@example.com"><i class="far fa-envelope" style="color: white;"></i></a>
            <span class="email-text">Isabellaspreafico.com</span>
          </div>
        </div>
      
    </div>
  </header>

  
<div class="thermobella-title2">
  <h2>ThermoBella</h2>
</div>


<!-- Sidebar -->
<div class="sidebar-toggle-button">
  <div class="hamburger-icon">
    <i class="fas fa-bars fa-2x" ></i>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div id="sidebar" class="home-sidebar">
  <nav class="home-nav">
  <div class="top-links">
    <h2 class="thermobella-title">ThermoBella</h2>
    <button class="close-button">X</button>
  </div>
  <a href="../index.html">Home</a>
    <a href="about.html">About Me</a>
    <a href="buy.html">Buy</a>
    <a href="join.html">Join Us</a>
    <a href="demos.html">Demos</a>
    <a href="thermomix.html">What is a Thermomix</a>
</nav>
  <div>
    <svg viewBox="0 0 950.8571428571428 1024" class="home-icon1"></svg>
  </div>
</div>
<div class="overlay"></div>


  
<!-- Content -->
<div class="content">

  
  <!-- Contents Links -->
  <div class="contents">
    <a href="../index.html">Home</a>
    <a href="about.html">About Me</a>
    <a href="buy.html">Buy</a>
    <a href="join.html">Join Us</a>
    <a href="demos.html">Demos</a>
    <a href="thermomix.html">What is a Thermomix</a>


    <!-- Add more content links as needed -->
  </div>

</div>
  
<head>
  <title>About</title>
</head>


  
<body>
  <div class="SouthWest" style="margin-bottom:0;">
  <div class="first-line">Isabella Manzoni -  Diamond advisor</div>
  <div class="second-line">Best Thermomix advisor in SouthWest London
  </div>
  <div class="Third-line">Advisor Number 000000
  </div>
  </div>

  
  <div class="home-hero-abo">
    <div class="home-container-abo">
      <h1 class="home-text191">About Me</h1>
      <div class="home-text192">
      <span>
        Fill in the form to know your next steps for buying a thermomix you dont need a demo. 
      </span>
      <span >
        join as an advisor and get a discount on your thermomix or earn it  
      </span>
      </div>
    </div>
  </div>



<div class="container">
  <div class="row2">
    <div class="col-md-6">
      <div class="home-hero2">
        <div class="home-container2">
          <h4 class="home-text06">Passionate About Thermomix</h4>
          <hr class="home-divider">
          <p class="home-text07">
            I'm passionate about sharing the Thermomix experience and helping people discover the joys of cooking with this amazing appliance.
          </p>
          <p class="home-text07">
            My journey with Thermomix began when...... I upgraded to the TM5, and shortly afterward, I became a Thermomix advisor.
          </p>
          <p class="home-text07">
            Now, I rely on my TM6, the latest model, for multiple daily culinary adventures. Whether it's about saving time in the kitchen, embracing healthier eating habits, gaining inspiration, or honing cooking skills, I'm here to demonstrate how Thermomix can transform lives.
          </p>
          <p class="home-text07">
            As your dedicated advisor, I offer ongoing support tailored to your needs. Unlike buying an appliance in a store, my assistance doesn't end with the purchase. I enjoy staying connected with my customers, sharing recipes, and fostering a vibrant community of Thermomix enthusiasts through active WhatsApp groups.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="../static/images/MUM.jpeg" class="home-image50" alt="Image">
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="../static/images/Barbie.jpeg" class="home-image50" alt="Image" style="width:90%;">
    </div>
    <div class="col-md-6">
      <div class="home-hero50">
        <div class="home-container50">
          <h4 class="home-text50">My Thermomix My Way</h4>
          <hr class="home-divider">
          <p class="home-text51">
  Ever since I was first introduced to the Thermomix, I've been absolutely amazed. It has not only saved me an incredible amount of time but has also expanded my repertoire of recipes and reignited my passion for cooking. Since that day, I've never looked back, and I sincerely hope your Thermomix journey will be as rewarding as mine.
            turpis.
          </p>
          <p class="home-text51">
  Being a Thermomix advisor has been an incredible experience. I've had the pleasure of meeting wonderful people, experimenting with a wide range of recipes, and constantly learning something new. Being part of the Thermomix team has been the best decision I've ever made.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container" background=>
  <div class="row2">
    <!-- Three images in a row -->
    <div class="col-md-4 col-sm-12">
      <div class="image-container">
        <img src="../static/images/MUM2.jpeg" class="home-image-three" alt="Image">
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="image-container">
        <img src="../static/images/MUM.jpeg" class="home-image-three" alt="Image">
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="image-container">
        <img src="../static/images/MUM3.jpeg" class="home-image-three" alt="Image">
      </div>
    </div>

    <!-- Text block underneath -->
    <div class="col-md-12">
      <h2 class="home-text6">Lorem ipsum</h2>
      <span class="home-text7">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem lorem,
        malesuada in metus vitae, scelerisque accumsan ipsum.
      </span>
    </div>
  </div>
</div>


  


<div class="home-hero-abo2">
  <div class="home-container-abo">
    <h1 class="home-text191">About Me</h1>
    <div class="home-text192">
      <span>
        Fill in the form to know your next steps for buying a thermomix you dont need a demo. 
      </span>
    </div>
    <button class="home-button1 button "onclick="navigateToBuy() ">Buy one right now</button>
  </div>
</div>

<section class="footer-light">
    <div class="container-2">
      <div class="footer-wrapper-two">
        <a href="buy.html" class="footer-brand w-inline-block thermobella-title"> ThermoBella<img src="" loading="lazy" alt=""></a>
        <div class= "footer-block-two">
          <div class="footer-title"><strong>Thermombella</strong></div>
          <a href="buy.html" class="footer-link-two">Buy</a>
          <a href="../index.html" class="footer-link-two">Home</a>
          <a href="thermomix.html" class="footer-link-two">What is a thermomix</a>
        </div>
        <div class= "footer-block-two">
          <div class="footer-title"><strong>Quick link</strong></div>
          <a href="demos.html" class="footer-link-two">Demos</a>
          <a href="about.html" class="footer-link-two">About</a>
          <a href="join.html" class="footer-link-two">Join Us</a>
        </div>
        <div class="footer=form w-form">
          <form action="https://formspree.io/f/mrgwkgej" method="POST" class="contact-form">
          <form id="wf-form-Footer-Form" name="wf=form=Footer-Form" data-name="Footer Form" method="get" class="footer-form-container" data-wf-page-id="64ca438d903a0e7f41b98205" data-wf-element-id="a3c99867-c57d-cd84-fb4c-8a6d3e7567b4">
            <div class="footer-title">Subscribe</div>
            <div class="footer-form-block"><input type="email" class="footer=form-field w-input" maxlength="256" name="Subscribe-Email" data-name="Footer Email" aria-label=" Get product updates" placeholder= "Get product updates" id="Footer-Email" required=""><input type="submit" value="" data-wait="Please wait..." class="footer-form-submit w-button"></div>
          </form>
          </div>
        </div>
      </div>
      <div class="footer-divider-two"></div>
      <div class="footer-bottom">
        <div class="footer-copyright"> C 2023 Thermobella. All right reserved</div>
        <div class="footer-social-block-two">
          <a href="#" class="footer-social-link w-inline-block"><img src="" loading="lazy" alt=""></a>
          <a href="#" class="footer-social-link w-inline-block"><img src="" loading="lazy" alt=""></a>
          <a href="#" class="footer-social-link w-inline-block"><img src="" loading="lazy" alt=""></a>
        </div>
      </div>
    </div>
  </section>


  

  

  
  <script src="../static/scripts/sidebar.js"></script>

</body>
</html>