<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

  <title>How to buy a Thermomix</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
  <script src="https://kit.fontawesome.com/f4d2f86d5b.js" crossorigin="anonymous"></script>

  <!-- Optional smooth scrolling for anchor links -->
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
</head>

<body>
  <header>
    <div class="header-container">
      <h1>ThermoBella</h1>
      <div class="social-icons">
        <div class="left-icons">
          <a href="https://www.instagram.com/bellathermomixbimby/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram" style="color: white;"></i>
          </a>
          <a href="https://www.facebook.com/groups/402052367406983/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook" style="color: white;"></i>
          </a>
        </div>
        <div class="right-icons">
          <a href="tel:+44 7391 585516"><i class="fas fa-phone" style="color: white;"></i></a>
          <span class="phone-text">07391 585516</span>
          <a href="mailto:info@example.com"><i class="far fa-envelope" style="color: white;"></i></a>
          <span class="email-text">Isabella.spreafico@gmail.com</span>
        </div>
      </div>
    </div>
  </header>

  <div class="thermobella-title2">
    <h2>ThermoBella</h2>
  </div>

  <!-- Sidebar -->
  <div class="sidebar-toggle-button">
    <div class="hamburger-icon">
      <i class="fas fa-bars fa-2x"></i>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="sidebar" class="home-sidebar">
    <nav class="home-nav">
      <div class="top-links">
        <h2 class="thermobella-title">ThermoBella</h2>
        <button class="close-button">X</button>
      </div>
      <a href="../index.html">Home</a>
      <a href="about.html">About Me</a>
      <a href="buy.html">Buy</a>
      <a href="join.html">Join Us</a>
      <a href="demos.html">Demos</a>
      <a href="thermomix.html">What is a Thermomix</a>
    </nav>
    <div>
      <svg viewBox="0 0 950.8571428571428 1024" class="home-icon1"></svg>
    </div>
  </div>
  <div class="overlay"></div>

  <!-- Content -->
  <div class="content">
    <!-- Contents Links -->
    <div class="contents">
      <a href="../index.html">Home</a>
      <a href="buy.html">Buy</a>
      <a href="thermomix.html">What is a Thermomix</a>
      <a href="demos.html">Demos</a>
      <a href="join.html">Join Us</a>
      <a href="about.html">About Me</a>
    </div>
  </div>

  <!-- 
       1) Make the "Limited Monthly Offer!" text itself clickable, 
          so that when clicked it scrolls to the Exclusive Monthly Offer. 
  -->
  <section class="discount-offer2">
    <div class="discount-content2">
      <!-- Anchor link to monthly-offer by using #monthly-offer -->
      <h2 style="cursor: pointer;">
        <a href="#monthly-offer" style="color: inherit; text-decoration: none;">
          Limited Monthly Offer!
        </a>
      </h2>
      <div class="countdown-timer">
        <span id="days"></span> days
        <span id="hours"></span> hours
        <span id="minutes"></span> minutes
        <span id="seconds"></span> seconds
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="thumbnail-images">
          <img src="../static/images/image1.jpeg" class="thumbnail" alt="Thumbnail 1">
          <img src="../static/images/Thermomix11.jpeg" class="thumbnail" alt="Thumbnail 2">
          <img src="../static/images/Thermomix12.jpeg" class="thumbnail" alt="Thumbnail 3">
          <img src="../static/images/Thermomix13.jpeg" class="thumbnail" alt="Thumbnail 4">
          <img src="../static/images/Thermomix15.jpeg" class="thumbnail" alt="Thumbnail 5">
          <img src="../static/images/Thermomix7.jpeg" class="thumbnail" alt="Thumbnail 6">
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail-slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="../static/images/Thermomix7.jpeg" class="thumbnail" alt="Thumbnail 1">
              </div>
              <div class="swiper-slide">
                <img src="../static/images/image1.jpeg" class="thumbnail" alt="Thumbnail 2">
              </div>
              <div class="swiper-slide">
                <img src="../static/images/Thermomix11.jpeg" class="thumbnail" alt="Thumbnail 3">
              </div>
              <div class="swiper-slide">
                <img src="../static/images/Thermomix12.jpeg" class="thumbnail" alt="Thumbnail 4">
              </div>
              <div class="swiper-slide">
                <img src="../static/images/Thermomix13.jpeg" class="thumbnail" alt="Thumbnail 5">
              </div>
              <div class="swiper-slide">
                <img src="../static/images/Thermomix15.jpeg" class="thumbnail" alt="Thumbnail 6">
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="main-image-container">
          <img src="../static/images/image1.jpeg" class="img-fluid main-image" alt="Main Image">
        </div>
      </div>
      <div class="col-md-6">
        <div class="home-hero-buy">
          <div class="home-container-buy">
            <h4 class="home-text-buy">Discover the Thermomix Difference</h4>
            <hr class="home-divider">
            <p class="home-text-buy1">
              Unlock a world of culinary wonders with Thermomix. Elevate your cooking experience and redefine your kitchen journey.
            </p>
            <p class="home-text-buy1">
              Embrace innovation and precision. Create gourmet masterpieces and everyday delights with Thermomix by your side.
            </p>
            <p class="home-text-buy2">
              Ignite your passion for cooking. With Thermomix, the possibilities are limitless, and the extraordinary becomes routine.
            </p>
            <button class="btn btn-primary mt-4" id="payment-button">Proceed to Payment</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-container-steps">
    <div class="home-steps">
      <h1 class="home-text-steps"><span>Our Approach</span></h1>
      <div class="home-container-steps1">
        <div class="home-container-steps2">
          <div class="home-step">
            <h1 class="home-text-steps02"><span>1</span></h1>
            <h1 class="home-text-steps04">
              <span>Place an Order</span>
            </h1>
            <span class="home-text-steps07">
              <span>Experience Thermomix® and ask questions during your cooking session.</span>
              <br />
            </span>
          </div>
          <div class="home-step">
            <h1 class="home-text-steps12"><span>2</span></h1>
            <h1 class="home-text-steps14"><span>Request a demonstration</span></h1>
            <span class="home-text-steps16">
              <span>Fill out the contact form for a free cooking experience with me as your Advisor.</span>
              <br />
            </span>
          </div>
          <div class="home-step">
            <h1 class="home-text-steps12"><span>3</span></h1>
            <h1 class="home-text-steps14">
              <span>Make your decision</span>
            </h1>
            <span class="home-text-steps16">
              <span>Decide to order and choose how to buy or contact me again for more information.</span>
              <br />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../static/images/Thermomix8.jpeg" class="img-fluid" alt="Image">
      </div>
      <div class="col-md-6">
        <div class="home-hero50">
          <div class="home-container50">
            <h4 class="home-text50">Unveiling the Thermomix Magic</h4>
            <hr class="home-divider">
            <p class="home-text51">
              Imagine a kitchen assistant that turns ordinary ingredients into extraordinary dishes, effortlessly.
            </p>
            <p class="home-text51">
              Meet the Thermomix – a culinary masterpiece designed to inspire your inner chef and redefine your cooking experience.
            </p>
            <p class="home-text51">
              Discover a world of delicious and creative possibilities with its versatility and simplicity.
            </p>
            <p class="home-text51">
              Whether you're a seasoned cook or just starting out, the Thermomix's intuitive interface and guided recipes empower you to create gourmet meals with confidence.
            </p>
            <p class="home-text51">
              The Thermomix is a culinary marvel that seamlessly combines blending, chopping, slicing, grating, peeling, slow cooking, scaling, and much more into a single, compact appliance. Its potential is boundless, awaiting exploration in your kitchen.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-bottom: 5%;">
    <div class="row2">
      <div class="col-md-6">
        <div class="home-hero2">
          <div class="home-container2">
            <h4 class="home-text06">What does your thermomix come with?</h4>
            <hr class="home-divider">
            <p class="home-text07">
              <li><strong>VAROMA:</strong> Discover the two-tiered steaming wonder perched atop your Thermomix.</li>
              <li><strong>SIMMERING BASKET:</strong> From rice to potatoes, this versatile basket shines within the 'bowl'.</li>
              <li><strong>BUTTERFLY WHISK - djaojfaiojf:</strong> Unleash its magic on meringues, sorbets, and more.</li>
              <li><strong>BOWL:</strong> Embrace the jug-style bowl, complete with a user-friendly handle.</li>
              <li><strong>MEASURING CUP:</strong> Safeguard against splashes, nestled in the lid, and removable during Varoma use.</li>
              <li><strong>THERMOMIX SPATULA:</strong> A marvel unveiled during your demo—a tool that's as smart as it looks.</li>
              <li><strong>INSTRUCTION MANUAL:</strong> Your key to unlocking Thermomix's full potential.</li>
              <li><strong>‘Simple Ideas’ COOKBOOK:</strong> A gateway to endless culinary inspiration.</li>
            </p>
            <p class="home-text07">
              Experience peace of mind with a 2-year warranty (1 year for commercial purchases) and complimentary six-month access to Cookidoo, our online recipe hub. And with a generous 14-day money-back guarantee, you have the time to explore your Thermomix fully, ensuring it's the perfect fit for you.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="../static/images/Thermomix4.jpeg" class="home-image70" alt="Image">
      </div>
    </div>
  </div>

  <!-- 
       2) Updated Exclusive Monthly Offer section. 
          Added an id="monthly-offer" so our anchor link can scroll here.
  -->
  <section class="monthly-offer" id="monthly-offer">
    <div class="container-offer">
      <div class="row-offer">
        <div class="col-md-6">
          <!-- Insert the two new images side by side or stacked -->
          <img src="../static/images/Thermomix23.jpeg" alt="Exclusive Offer Image 1" class="img-fluid-offer" style="margin-bottom: 1rem;">
          <img src="../static/images/Thermomix24.jpeg" alt="Exclusive Offer Image 2" class="img-fluid-offer">
        </div>
        <div class="col-md-6">
          <div class="offer-content">
            <h2>Exclusive Monthly Offer!</h2>

            <!-- Replace old text with new details from the pictures -->
            <p>
              <strong>Kickstart the year with the Ultimate Thermomix® Bundle!</strong><br/>
              Purchase a TM6 and get a 2nd mixing bowl, Sensor, Cutter, Spiralizer, Blade Cover &amp; Peeler, and
              <em>carry bag</em> for just £59.<br/>
              <strong>Save £439!</strong><br/>
              <small>Offer available 1st – 31st January.</small>
            </p>
            <p>
              <strong>Price:</strong> £1,338<br/>
              <strong>FREE extended warranty</strong> available for single payments.<br/>
              Carry bag available to first 1,500 orders (colour may vary). Not available in conjunction with another promotion.
            </p>

            <p>
              <strong>Financing Options (Representative Example):</strong><br/>
              <u>Option 1 (Novuna – Finance Provider):</u><br/>
              • 12 Months @ 14.9% – £120.12 per month<br/>
              • 24 Months @ 14.9% – £64.23 per month<br/><br/>

              <u>Option 2 (Divided Payments):</u><br/>
              • 3 Months: £309 deposit + 3 × £343 monthly payments<br/>
              • 6 Months: £309 deposit + 6 × £171.50 monthly payments<br/>
              • 12 Months: £309 deposit + 12 × £85.75 monthly payments<br/>
              <small>The initial deposit can be paid by credit/debit card or bank transfer.</small>
            </p>
            <p>
              Terms &amp; Conditions apply. Subject to status and affordability checks.  
              Speak to me if you have any questions!
            </p>

            <button class="btn btn-primary mt-4" id="payment-button2">Proceed to Purchase</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row3">
      <div class="home-hero-big2">
        <div class="home-container-big2">
          <h4 class="home-text-big06">Why Choose Thermomix?</h4>
          <hr class="home-divider">
          <p class="home-text-big07">
            Purchasing a Thermomix is an exclusive experience – only through advisors like me (Isabella).
          </p>
          <p class="home-text-big07">
            Thermomix TM6, the latest model in white, is priced at £1189 with no discounts.
          </p>
          <p class="home-text-big07">
            Get your Thermomix in 3 ways:
          </p>
          <ul class="home-text-big07">
            <li>Earn one for FREE by becoming an advisor.</li>
            <li>Spread payments from £32.48 per month.</li>
            <li>One-time payment by card.</li>
          </ul>
          <p class="home-text-big07">
            What's in it for you?
          </p>
          <p class="home-text-big07">
            Reach out and get personalized support, virtual sessions, classes, and more.
          </p>
          <p class="home-text-big07">
            Ready to start? Call 07771 648 111 and I'll be your advisor.
          </p>
          <p class="home-text-big07">
            Enjoy smooth payment options:
          </p>
          <ul class="home-text-big07">
            <li>12 months: £106.74 p/m</li>
            <li>24 months: £57.07 p/m</li>
            <li>36 months: £40.62 p/m</li>
            <li>48 months: £32.48 p/m</li>
          </ul>
          <p class="home-text-big07">
            For a limited time, 0% finance over 12 months on spending over £1349, including an extra bowl.
          </p>
          <p class="home-text07">
            Fill the form below for demos and details. Join the Thermomix community – innovation and culinary delight await.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="form-container" id="form-container">
    <h2>Contact Us</h2>
    <form action="https://formspree.io/f/mrgwkgej" method="POST" class="contact-form">
      <!--Honeypot -->
      <input type="text" name="_honey" style="display: none;">
      <!-- disable Captcha -->
      <input type="hidden" name="_captcha" value="false">

      <div class="form-group">
        <label for="fname">First Name:</label>
        <input type="text" id="fname" placeholder="First Name" name="fname" required>
      </div>
      <div class="form-group">
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" placeholder="Last Name" name="lname" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Email" name="email" required>
      </div>
      <div class="form-group">
        <label for="mobile">Mobile Number:</label>
        <input type="tel" id="mobile" placeholder="Phone number" name="mobile" required>
      </div>
      <div class="form-group">
        <label for="postcode">Post Code:</label>
        <input type="text" id="postcode" placeholder="Postcode" name="postcode" required>
      </div>
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea id="message" placeholder="Any message you would like to add" name="message" required></textarea>
      </div>

      <div class="payment-options">
        <label>How would you like to pay:</label>
        <div class="radio-group">
          <input type="radio" id="payCard" name="payment" value="card" required>
          <label for="payCard">Pay by Card £1189</label>
        </div>
        <div class="radio-group">
          <input type="radio" id="pay12Months" name="payment" value="12months">
          <label for="pay12Months">12 months - £106.74</label>
        </div>
        <div class="radio-group">
          <input type="radio" id="pay24Months" name="payment" value="24months">
          <label for="pay24Months">24 months - £57.07</label>
        </div>
        <div class="radio-group">
          <input type="radio" id="pay36Months" name="payment" value="36months">
          <label for="pay36Months">36 months - £40.62</label>
        </div>
        <div class="radio-group">
          <input type="radio" id="pay48Months" name="payment" value="48months">
          <label for="pay48Months">48 months - £32.48</label>
        </div>
        <div class="radio-group">
          <input type="radio" id="trainAdvisor" name="payment" value="trainadvisor">
          <label for="trainAdvisor">Train as an advisor and potentially earn one for free</label>
        </div>
      </div>
      <button type="submit" class="home-button1 button">Submit</button>
    </form>
  </div>

  <section class="footer-light">
    <div class="container-2">
      <div class="footer-wrapper-two">
        <a href="buy.html" class="footer-brand w-inline-block thermobella-title"> 
          ThermoBella<img src="" loading="lazy" alt="">
        </a>
        <div class="footer-block-two">
          <div class="footer-title"><strong>Thermombella</strong></div>
          <a href="buy.html" class="footer-link-two">Buy</a>
          <a href="../index.html" class="footer-link-two">Home</a>
          <a href="thermomix.html" class="footer-link-two">What is a thermomix</a>
        </div>
        <div class="footer-block-two">
          <div class="footer-title"><strong>Quick link</strong></div>
          <a href="demos.html" class="footer-link-two">Demos</a>
          <a href="about.html" class="footer-link-two">About</a>
          <a href="join.html" class="footer-link-two">Join Us</a>
        </div>
        <div class="footer=form w-form">
          <form action="https://formspree.io/f/mrgwkgej" method="POST" class="contact-form">
            <form id="wf-form-Footer-Form" name="wf=form=Footer-Form" data-name="Footer Form" method="get" class="footer-form-container" data-wf-page-id="64ca438d903a0e7f41b98205" data-wf-element-id="a3c99867-c57d-cd84-fb4c-8a6d3e7567b4">
              <div class="footer-title">Subscribe</div>
              <div class="footer-form-block">
                <input type="email" class="footer=form-field w-input" maxlength="256" name="Subscribe-Email"
                       data-name="Footer Email" aria-label="Get product updates"
                       placeholder="Get product updates" id="Footer-Email" required="">
                <input type="submit" value="" data-wait="Please wait..." class="footer-form-submit w-button">
              </div>
            </form>
          </form>
        </div>
      </div>
      <div class="footer-divider-two"></div>
      <div class="footer-bottom">
        <div class="footer-copyright">
          C 2023 Thermobella. All right reserved
        </div>
        <div class="footer-social-block-two">
          <a href="#" class="footer-social-link w-inline-block"><img src="" loading="lazy" alt=""></a>
          <a href="#" class="footer-social-link w-inline-block"><img src="" loading="lazy" alt=""></a>
          <a href="#" class="footer-social-link w-inline-block"><img src="" loading="lazy" alt=""></a>
        </div>
      </div>
    </div>
  </section>

  <script src="../static/scripts/sidebar.js"></script>
  <script src="../static/scripts/thumbnail.js"></script>
  <script src="../static/scripts/offers.js"></script>


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const link = document.querySelector('a[href="#monthly-offer"]');
      if (link) {
        link.addEventListener('click', function (event) {
          event.preventDefault(); // Prevent the default page reload
          const targetSection = document.querySelector('#monthly-offer');
          if (targetSection) {
            targetSection.scrollIntoView({ behavior: 'smooth' }); // Smooth scroll to the target
          }
        });
      }
    });
  </script>
  
</body>
</html>
